{% extends 'base.html' %}

{% block menu %}
<li>
    <a href="{% url 'book_add' %}">Add a book</a>
</li>
{% endblock %}

{% block content %}
<h1>Guest book</h1>
 <form action="{% url 'searchbar' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Search by name">
        <input type="submit" value="Search">
 </form>
<!--    <div class="card" style="width: 38rem; height:12rem; border: solid black;">-->
<!--    {% for book in books %}-->
        <h2>{{ book.author }} ({{ book.email }})</h2>
        <p>{{ book.text }}</p>
<!--    </div>-->

    <p><a href="{% url 'book_update' book.pk %}">Update</a> </p>
    <p><a href="{% url 'book_delete' book.pk %}">Delete</a> </p>

{% endfor %}
{% endblock %}