{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block menu %}
<li>
    <a href="{% url 'book_add' %}">Add a book</a>
</li>
{% endblock %}

{% block content %}
<h1>Guest book</h1>
 {% csrf_token %}
 <form action="{% url 'searchbar' %}" method="post">

        <input type="text" name="search" placeholder="Search by name">
        <input type="submit" value="Search">
 </form>
    {% for book in books %}
    <div class="card mb-3" style="width: 38rem; height:10rem; border: solid black; background: #FFFFF0;">
        <h2>{{ book.author }} ({{ book.email }})
            <a href="{% url 'book_update' book.pk %}">{% bs_icon 'pencil-square'%}</a>
            <a href="{% url 'book_delete' book.pk %}">{% bs_icon 'trash'%}</a>
        </h2>
        <p>{{ book.text }}</p>
    </div>
{% endfor %}
{% endblock %}